<!doctype html>
<html>
    <head>
        <title>Climate_Analysis_App</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="chrome">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Calendar JS -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        
        <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $( function() {
                $( "#from" ).datepicker({ 
                                          changeMonth: true,
                                          changeYear: true
                                        });
                $( "#from" ).datepicker("option", "dateFormat", "yy-mm-dd");

                $( "#to" ).datepicker({ 
                                          changeMonth: true,
                                          changeYear: true
                                        });
                $( "#to" ).datepicker("option", "dateFormat", "yy-mm-dd");

            } );

        </script>

        <!-- Style CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">


    </head>

    <body>
        <div class="container-fluid">
            <div class="row ml-2">
            <h1>Climate_Analysis_App</h1>
            </div>
            <div class="row">
                <div class="col-lg-5.5 align-self-center">
                    <img src="/static/surfs-up.png" alt="A surfer on the sea" width=700>
                </div>
                <div class="col align-self-center">
                    <p style="font-size: 3em;">Let's go Honolulu, Hawaii !!</p>
                    <p style="font-size: 20px;">I want to go there for <code>15 days</code>. Which dates would be the best for me to depart?</p>
                    <p style="font-size: 20px;">Before the decision making, I need to check weather condition there querying the <code>weather database</code> which contains all the historical weather data such as <em>precipitation</em>, <em>temperature observations</em>, and <em>station information</em>.</p>
                    <p style="font-size: 20px;">It will be fun to play with! Let's start!</p>
                    
                </div>
            </div>
            <hr>
            <div class="row ml-2">
                <h2><strong>Available Route</strong></h2>
            </div>
            <div class="row">
                <div class="col-8">
                    <table class="table">
                    {% for table in tables %}
                        {{ table | safe }}
                    {% endfor %}
                    </table>
                </div>
                <div class="col">
                    <form id="myForm">
                        <h4>Basic stats on temperature</h4>
                        <div class="msg"></div>
                        <p style="margin-left: 40px">Start Date: <input class="start" type="text" id="from" autocomplete="off"></p>
                        <p style="margin-left: 40px">End Date: <input class="end" type="text" id="to" autocomplete="off"></p>
                        <input style="margin-left: 70px" class="btn" type="button" Value="Submit">
                    </form>
                    <hr>
                    <p style="margin-left: 40px"><strong>Note:</strong> You can put either <code>start date</code> only or both <code>start</code> and <code>end date</code>.</p>
                </div>
            </div>
        </div>

        <script>
                const currentStartDate = document.querySelector('.start');
                const currentEndDate = document.querySelector('.end');
                const myButton = document.querySelector('.btn');
                const msg = document.querySelector('.msg');

                myButton.addEventListener('click', onClick);

                function onClick(e) {

                    if (currentStartDate.value !== '' && currentEndDate.value === '') {
                        
                        window.location = `http://127.0.0.1:5000/api/v1.0/${currentStartDate.value}`;
                        
                    } else if (currentStartDate.value !== '' && currentEndDate.value !== '') {
                        
                        window.location = `http://127.0.0.1:5000/api/v1.0/${currentStartDate.value}/${currentEndDate.value}`;

                    } else {
                        msg.innerHTML = "Please select the start date first."
                        setTimeout(() => msg.innerHTML = "", 2000);
                    }
                };            
        </script>
    </body>
</html>